<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Stats from Gov Colombia</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="stylesheet" href="/static/css/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <div class="subContent">
                <img class="logo" src="https://i.pinimg.com/originals/ad/54/5d/ad545dc8468d8a329f4085639202ebbf.png"/>
                <h1 class="title">Colombian Open.gov graphs</h1>
                <h5 class="subtitle">Bar charts for any dataset</h5>
                <ul class="list">
                    <a class="listItem" href="arboles">Arboles</a>
                    <a class="listItem" href="agricultura">Rendimiento Agricultura</a>
                    <a class="listItem" href="Software">Software</a>
                </ul>
            </div>
        </div>
    </body>
</html>